:root {
  --md-source: #51C2B1;
  /* primary */
  --primary0: #000000;
  --primary10: #00201c;
  --primary20: #003731;
  --primary25: #00443c;
  --primary30: #005047;
  --primary35: #005d53;
  --primary40: #006b5f;
  --primary50: #008678;
  --primary60: #00a392;
  --primary70: #2ebfac;
  --primary80: #54dbc7;
  --primary90: #75f8e3;
  --primary95: #b5fff1;
  --primary98: #e5fff8;
  --primary99: #f2fffb;
  --primary100: #ffffff;
  /* secondary */
  --secondary0: #000000;
  --secondary10: #06201c;
  --secondary20: #1c3530;
  --secondary25: #27403b;
  --secondary30: #334b47;
  --secondary35: #3e5752;
  --secondary40: #4a635e;
  --secondary50: #627c77;
  --secondary60: #7c9690;
  --secondary70: #96b1ab;
  --secondary80: #b1ccc6;
  --secondary90: #cce8e2;
  --secondary95: #dbf7f0;
  --secondary98: #e5fff8;
  --secondary99: #f2fffb;
  --secondary100: #ffffff;
  /* tertiary */
  --tertiary0: #000000;
  --tertiary10: #001e30;
  --tertiary20: #143349;
  --tertiary25: #203e54;
  --tertiary30: #2d4a60;
  --tertiary35: #39556d;
  --tertiary40: #456179;
  --tertiary50: #5e7a93;
  --tertiary60: #7794ae;
  --tertiary70: #91afc9;
  --tertiary80: #accae5;
  --tertiary90: #cbe6ff;
  --tertiary95: #e7f2ff;
  --tertiary98: #f7f9ff;
  --tertiary99: #fcfcff;
  --tertiary100: #ffffff;
  /* neutral */
  --neutral0: #000000;
  --neutral10: #191c1b;
  --neutral20: #2d3130;
  --neutral25: #383c3b;
  --neutral30: #444746;
  --neutral35: #505352;
  --neutral40: #5c5f5e;
  --neutral50: #747876;
  --neutral60: #8e9190;
  --neutral70: #a9acaa;
  --neutral80: #c4c7c5;
  --neutral90: #e0e3e1;
  --neutral95: #eff1ef;
  --neutral98: #f7faf8;
  --neutral99: #fafdfb;
  --neutral100: #ffffff;
  /* neutral-variant */
  --neutral-variant0: #000000;
  --neutral-variant10: #141d1b;
  --neutral-variant20: #293230;
  --neutral-variant25: #343d3b;
  --neutral-variant30: #3f4946;
  --neutral-variant35: #4b5452;
  --neutral-variant40: #56605e;
  --neutral-variant50: #6f7976;
  --neutral-variant60: #899390;
  --neutral-variant70: #a3adaa;
  --neutral-variant80: #bec9c5;
  --neutral-variant90: #dae5e1;
  --neutral-variant95: #e9f3ef;
  --neutral-variant98: #f1fcf8;
  --neutral-variant99: #f4fffb;
  --neutral-variant100: #ffffff;
  /* error */
  --error0: #000000;
  --error10: #410002;
  --error20: #690005;
  --error25: #7e0007;
  --error30: #93000a;
  --error35: #a80710;
  --error40: #ba1a1a;
  --error50: #de3730;
  --error60: #ff5449;
  --error70: #ff897d;
  --error80: #ffb4ab;
  --error90: #ffdad6;
  --error95: #ffedea;
  --error98: #fff8f7;
  --error99: #fffbff;
  --error100: #ffffff;
  /* light */
  --primary-light: var(--primary40);
  --on-primary-light: var(--primary100);
  --primary-container-light: var(--primary90);
  --on-primary-container-light: var(--primary10);
  --secondary-light: var(--secondary40);
  --on-secondary-light: var(--secondary100);
  --secondary-container-light: var(--secondary90);
  --on-secondary-container-light: var(--secondary10);
  --tertiary-light: var(--tertiary40);
  --on-tertiary-light: var(--tertiary100);
  --tertiary-container-light: var(--tertiary90);
  --on-tertiary-container-light: var(--tertiary10);
  --error-light: var(--error40);
  --error-container-light: var(--error90);
  --on-error-light: var(--error100);
  --on-error-container-light: var(--error10);
  --background-light: var(--neutral99);
  --on-background-light: var(--neutral10);
  --surface-light: var(--neutral98);
  --on-surface-light: var(--neutral10);
  --surface-variant-light: var(--neutral99);
  --on-surface-variant-light: var(--neutral-variant30);
  --outline-light: var(--neutral-variant50);
  --inverse-on-surface-light: var(--neutral95);
  --inverse-surface-light: var(--neutral20);
  --inverse-primary-light: var(--primary80);
  --shadow-light: var(--neutral0);
  --surface-tint-light: var(--primary40);
  --outline-variant-light: var(--neutral99);
  --scrim-light: var(--neutral0);
  /* dark */
  --primary-dark: var(--primary80);
  --on-primary-dark: var(--primary20);
  --primary-container-dark: var(--primary30);
  --on-primary-container-dark: var(--primary90);
  --secondary-dark: var(--secondary80);
  --on-secondary-dark: var(--secondary20);
  --secondary-container-dark: var(--secondary30);
  --on-secondary-container-dark: var(--secondary90);
  --tertiary-dark: var(--tertiary80);
  --on-tertiary-dark: var(--tertiary20);
  --tertiary-container-dark: var(--tertiary30);
  --on-tertiary-container-dark: var(--tertiary90);
  --error-dark: var(--error80);
  --error-container-dark: var(--error30);
  --on-error-dark: var(--error20);
  --on-error-container-dark: var(--error90);
  --background-dark: var(--neutral10);
  --on-background-dark: var(--neutral90);
  --surface-dark: #0a0b0b;
  --on-surface-dark: var(--neutral90);
  --surface-variant-dark: var(--neutral-variant30);
  --on-surface-variant-dark: var(--neutral-variant80);
  --outline-dark: var(--neutral-variant60);
  --inverse-on-surface-dark: var(--neutral20);
  --inverse-surface-dark: var(--neutral90);
  --inverse-primary-dark: var(--primary40);
  --shadow-dark: var(--neutral0);
  --surface-tint-dark: var(--primary80);
  --outline-variant-dark: var(--neutral-variant30);
  --scrim-dark: var(--neutral0);
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Manrope;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Manrope;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Manrope;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Manrope;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Manrope;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Manrope;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Manrope;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Manrope;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Manrope;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Manrope;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Manrope;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Manrope;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Manrope;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Manrope;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Manrope;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
