/* Global variables */
:root {
	/* Colors */
	--gray-0: #090b11;
	--gray-50: #141925;
	--gray-100: #283044;
	--gray-200: #3d4663;
	--gray-300: #505d84;
	--gray-400: #6474a2;
	--gray-500: #8490b5;
	--gray-600: #a3acc8;
	--gray-700: #c3cadb;
	--gray-800: #e3e6ee;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: #ffffff;

	--accent-light: #97DAD0;
	--accent-regular: #51C2B1;
	--accent-dark: #31746A;
	--accent-overlay: rgba(var(--accent-regular), 0.33);
	--accent-subtle-overlay: var(--accent-overlay);
	--accent-text-over: var(--gray-999);

  /* primary */
  --primary0: #000000;
  --primary10: #00201c;
  --primary20: #003731;
  --primary25: #00443c;
  --primary30: #005047;
  --primary35: #005d53;
  --primary40: #006b5f;
  --primary50: #008678;
  --primary60: #00a392;
  --primary70: #2ebfac;
  --primary80: #54dbc7;
  --primary90: #75f8e3;
  --primary95: #b5fff1;
  --primary98: #e5fff8;
  --primary99: #f2fffb;
  --primary100: #ffffff;
  /* secondary */
  --secondary0: #000000;
  --secondary10: #06201c;
  --secondary20: #1c3530;
  --secondary25: #27403b;
  --secondary30: #334b47;
  --secondary35: #3e5752;
  --secondary40: #4a635e;
  --secondary50: #627c77;
  --secondary60: #7c9690;
  --secondary70: #96b1ab;
  --secondary80: #b1ccc6;
  --secondary90: #cce8e2;
  --secondary95: #dbf7f0;
  --secondary98: #e5fff8;
  --secondary99: #f2fffb;
  --secondary100: #ffffff;
  /* tertiary */
  --tertiary0: #000000;
  --tertiary10: #001e30;
  --tertiary20: #143349;
  --tertiary25: #203e54;
  --tertiary30: #2d4a60;
  --tertiary35: #39556d;
  --tertiary40: #456179;
  --tertiary50: #5e7a93;
  --tertiary60: #7794ae;
  --tertiary70: #91afc9;
  --tertiary80: #accae5;
  --tertiary90: #cbe6ff;
  --tertiary95: #e7f2ff;
  --tertiary98: #f7f9ff;
  --tertiary99: #fcfcff;
  --tertiary100: #ffffff;
  /* neutral */
  --neutral0: #000000;
  --neutral10: #191c1b;
  --neutral20: #2d3130;
  --neutral25: #383c3b;
  --neutral30: #444746;
  --neutral35: #505352;
  --neutral40: #5c5f5e;
  --neutral50: #747876;
  --neutral60: #8e9190;
  --neutral70: #a9acaa;
  --neutral80: #c4c7c5;
  --neutral90: #e0e3e1;
  --neutral95: #eff1ef;
  --neutral98: #f7faf8;
  --neutral99: #fafdfb;
  --neutral100: #ffffff;
  /* neutral-variant */
  --neutral-variant0: #000000;
  --neutral-variant10: #141d1b;
  --neutral-variant20: #293230;
  --neutral-variant25: #343d3b;
  --neutral-variant30: #3f4946;
  --neutral-variant35: #4b5452;
  --neutral-variant40: #56605e;
  --neutral-variant50: #6f7976;
  --neutral-variant60: #899390;
  --neutral-variant70: #a3adaa;
  --neutral-variant80: #bec9c5;
  --neutral-variant90: #dae5e1;
  --neutral-variant95: #e9f3ef;
  --neutral-variant98: #f1fcf8;
  --neutral-variant99: #f4fffb;
  --neutral-variant100: #ffffff;
  /* error */
  --error0: #000000;
  --error10: #410002;
  --error20: #690005;
  --error25: #7e0007;
  --error30: #93000a;
  --error35: #a80710;
  --error40: #ba1a1a;
  --error50: #de3730;
  --error60: #ff5449;
  --error70: #ff897d;
  --error80: #ffb4ab;
  --error90: #ffdad6;
  --error95: #ffedea;
  --error98: #fff8f7;
  --error99: #fffbff;
  --error100: #ffffff;
  /* light */
  --primary-light: var(--primary40);
  --on-primary-light: var(--primary100);
  --primary-container-light: var(--primary90);
  --on-primary-container-light: var(--primary10);
  --secondary-light: var(--secondary40);
  --on-secondary-light: var(--secondary100);
  --secondary-container-light: var(--secondary90);
  --on-secondary-container-light: var(--secondary10);
  --tertiary-light: var(--tertiary40);
  --on-tertiary-light: var(--tertiary100);
  --tertiary-container-light: var(--tertiary90);
  --on-tertiary-container-light: var(--tertiary10);
  --error-light: var(--error40);
  --error-container-light: var(--error90);
  --on-error-light: var(--error100);
  --on-error-container-light: var(--error10);
  --background-light: var(--neutral99);
  --on-background-light: var(--neutral10);
  --surface-light: var(--neutral98);
  --on-surface-light: var(--neutral10);
  --surface-variant-light: var(--neutral99);
  --on-surface-variant-light: var(--neutral-variant30);
  --outline-light: var(--neutral-variant50);
  --inverse-on-surface-light: var(--neutral95);
  --inverse-surface-light: var(--neutral20);
  --inverse-primary-light: var(--primary80);
  --shadow-light: var(--neutral0);
  --surface-tint-light: var(--primary40);
  --outline-variant-light: var(--neutral99);
  --scrim-light: var(--neutral0);
  /* dark */
  --primary-dark: var(--primary80);
  --on-primary-dark: var(--primary20);
  --primary-container-dark: var(--primary30);
  --on-primary-container-dark: var(--primary90);
  --secondary-dark: var(--secondary80);
  --on-secondary-dark: var(--secondary20);
  --secondary-container-dark: var(--secondary30);
  --on-secondary-container-dark: var(--secondary90);
  --tertiary-dark: var(--tertiary80);
  --on-tertiary-dark: var(--tertiary20);
  --tertiary-container-dark: var(--tertiary30);
  --on-tertiary-container-dark: var(--tertiary90);
  --error-dark: var(--error80);
  --error-container-dark: var(--error30);
  --on-error-dark: var(--error20);
  --on-error-container-dark: var(--error90);
  --background-dark: var(--neutral10);
  --on-background-dark: var(--neutral90);
  --surface-dark: #0a0b0b;
  --on-surface-dark: var(--neutral90);
  --surface-variant-dark: var(--neutral-variant30);
  --on-surface-variant-dark: var(--neutral-variant80);
  --outline-dark: var(--neutral-variant60);
  --inverse-on-surface-dark: var(--neutral20);
  --inverse-surface-dark: var(--neutral90);
  --inverse-primary-dark: var(--primary40);
  --shadow-dark: var(--neutral0);
  --surface-tint-dark: var(--primary80);
  --outline-variant-dark: var(--neutral-variant30);
  --scrim-dark: var(--neutral0);

  --primary: var(--primary-light);
  --on-primary: var(--on-primary-light);
  --primary-container: var(--primary-container-light);
  --on-primary-container: var(--on-primary-container-light);
  --secondary: var(--secondary-light);
  --on-secondary: var(--on-secondary-light);
  --secondary-container: var(--secondary-container-light);
  --on-secondary-container: var(--on-secondary-container-light);
  --tertiary: var(--tertiary-light);
  --on-tertiary: var(--on-tertiary-light);
  --tertiary-container: var(--tertiary-container-light);
  --on-tertiary-container: var(--on-tertiary-container-light);
  --error: var(--error-light);
  --error-container: var(--error-container-light);
  --on-error: var(--on-error-light);
  --on-error-container: var(--on-error-container-light);
  --background: var(--background-light);
  --on-background: var(--on-background-light);
  --surface: var(--surface-light);
  --on-surface: var(--on-surface-light);
  --surface-variant: var(--surface-variant-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --outline: var(--outline-light);
  --inverse-on-surface: var(--inverse-on-surface-light);
  --inverse-surface: var(--inverse-surface-light);
  --inverse-primary: var(--inverse-primary-light);
  --shadow: var(--shadow-light);
  --surface-tint: var(--surface-tint-light);
  --outline-variant: var(--outline-variant-light);
  --scrim: var(--scrim-light);

	--link-color: var(--primary-light);

	/* Gradients */
	--gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-regular);
	--gradient-stop-3: var(--accent-dark);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-accent: linear-gradient(
		150deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3)
	);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ED7B84,
		var(--accent-regular),
		var(--accent-dark)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

	/* Shadows */
	--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		'Open Sans', Arial, sans-serif;
	--font-body: 'Manrope', var(--font-system);
	--font-brand: 'Manrope', var(--font-system);

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
}

:root.dark {
	--gray-0: #ffffff;
	--gray-50: #f3f4f7;
	--gray-100: #e3e6ee;
	--gray-200: #c3cadb;
	--gray-300: #a3acc8;
	--gray-400: #8490b5;
	--gray-500: #6474a2;
	--gray-600: #505d84;
	--gray-700: #3d4663;
	--gray-800: #283044;
	--gray-900: #141925;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999: #090b11;

	--accent-light: #31746A;
	--accent-regular: #51C2B1;
	--accent-dark: #97DAD0;
	--accent-overlay: hsla(182, 89%, 67%, 0.33);
	--accent-subtle-overlay: hsla(191, 81%, 36%, 0.33);
	--accent-text-over: var(--gray-900);

  /* primary */
  --primary0: #000000;
  --primary10: #00201c;
  --primary20: #003731;
  --primary25: #00443c;
  --primary30: #005047;
  --primary35: #005d53;
  --primary40: #006b5f;
  --primary50: #008678;
  --primary60: #00a392;
  --primary70: #2ebfac;
  --primary80: #54dbc7;
  --primary90: #75f8e3;
  --primary95: #b5fff1;
  --primary98: #e5fff8;
  --primary99: #f2fffb;
  --primary100: #ffffff;
  /* secondary */
  --secondary0: #000000;
  --secondary10: #06201c;
  --secondary20: #1c3530;
  --secondary25: #27403b;
  --secondary30: #334b47;
  --secondary35: #3e5752;
  --secondary40: #4a635e;
  --secondary50: #627c77;
  --secondary60: #7c9690;
  --secondary70: #96b1ab;
  --secondary80: #b1ccc6;
  --secondary90: #cce8e2;
  --secondary95: #dbf7f0;
  --secondary98: #e5fff8;
  --secondary99: #f2fffb;
  --secondary100: #ffffff;
  /* tertiary */
  --tertiary0: #000000;
  --tertiary10: #001e30;
  --tertiary20: #143349;
  --tertiary25: #203e54;
  --tertiary30: #2d4a60;
  --tertiary35: #39556d;
  --tertiary40: #456179;
  --tertiary50: #5e7a93;
  --tertiary60: #7794ae;
  --tertiary70: #91afc9;
  --tertiary80: #accae5;
  --tertiary90: #cbe6ff;
  --tertiary95: #e7f2ff;
  --tertiary98: #f7f9ff;
  --tertiary99: #fcfcff;
  --tertiary100: #ffffff;
  /* neutral */
  --neutral0: #000000;
  --neutral10: #191c1b;
  --neutral20: #2d3130;
  --neutral25: #383c3b;
  --neutral30: #444746;
  --neutral35: #505352;
  --neutral40: #5c5f5e;
  --neutral50: #747876;
  --neutral60: #8e9190;
  --neutral70: #a9acaa;
  --neutral80: #c4c7c5;
  --neutral90: #e0e3e1;
  --neutral95: #eff1ef;
  --neutral98: #f7faf8;
  --neutral99: #fafdfb;
  --neutral100: #ffffff;
  /* neutral-variant */
  --neutral-variant0: #000000;
  --neutral-variant10: #141d1b;
  --neutral-variant20: #293230;
  --neutral-variant25: #343d3b;
  --neutral-variant30: #3f4946;
  --neutral-variant35: #4b5452;
  --neutral-variant40: #56605e;
  --neutral-variant50: #6f7976;
  --neutral-variant60: #899390;
  --neutral-variant70: #a3adaa;
  --neutral-variant80: #bec9c5;
  --neutral-variant90: #dae5e1;
  --neutral-variant95: #e9f3ef;
  --neutral-variant98: #f1fcf8;
  --neutral-variant99: #f4fffb;
  --neutral-variant100: #ffffff;
  /* error */
  --error0: #000000;
  --error10: #410002;
  --error20: #690005;
  --error25: #7e0007;
  --error30: #93000a;
  --error35: #a80710;
  --error40: #ba1a1a;
  --error50: #de3730;
  --error60: #ff5449;
  --error70: #ff897d;
  --error80: #ffb4ab;
  --error90: #ffdad6;
  --error95: #ffedea;
  --error98: #fff8f7;
  --error99: #fffbff;
  --error100: #ffffff;
  /* light */
  --primary-light: var(--primary40);
  --on-primary-light: var(--primary100);
  --primary-container-light: var(--primary90);
  --on-primary-container-light: var(--primary10);
  --secondary-light: var(--secondary40);
  --on-secondary-light: var(--secondary100);
  --secondary-container-light: var(--secondary90);
  --on-secondary-container-light: var(--secondary10);
  --tertiary-light: var(--tertiary40);
  --on-tertiary-light: var(--tertiary100);
  --tertiary-container-light: var(--tertiary90);
  --on-tertiary-container-light: var(--tertiary10);
  --error-light: var(--error40);
  --error-container-light: var(--error90);
  --on-error-light: var(--error100);
  --on-error-container-light: var(--error10);
  --background-light: var(--neutral99);
  --on-background-light: var(--neutral10);
  --surface-light: var(--neutral98);
  --on-surface-light: var(--neutral10);
  --surface-variant-light: var(--neutral99);
  --on-surface-variant-light: var(--neutral-variant30);
  --outline-light: var(--neutral-variant50);
  --inverse-on-surface-light: var(--neutral95);
  --inverse-surface-light: var(--neutral20);
  --inverse-primary-light: var(--primary80);
  --shadow-light: var(--neutral0);
  --surface-tint-light: var(--primary40);
  --outline-variant-light: var(--neutral99);
  --scrim-light: var(--neutral0);
  /* dark */
  --primary-dark: var(--primary80);
  --on-primary-dark: var(--primary20);
  --primary-container-dark: var(--primary30);
  --on-primary-container-dark: var(--primary90);
  --secondary-dark: var(--secondary80);
  --on-secondary-dark: var(--secondary20);
  --secondary-container-dark: var(--secondary30);
  --on-secondary-container-dark: var(--secondary90);
  --tertiary-dark: var(--tertiary80);
  --on-tertiary-dark: var(--tertiary20);
  --tertiary-container-dark: var(--tertiary30);
  --on-tertiary-container-dark: var(--tertiary90);
  --error-dark: var(--error80);
  --error-container-dark: var(--error30);
  --on-error-dark: var(--error20);
  --on-error-container-dark: var(--error90);
  --background-dark: var(--neutral10);
  --on-background-dark: var(--neutral90);
  --surface-dark: #0a0b0b;
  --on-surface-dark: var(--neutral90);
  --surface-variant-dark: var(--neutral-variant30);
  --on-surface-variant-dark: var(--neutral-variant80);
  --outline-dark: var(--neutral-variant60);
  --inverse-on-surface-dark: var(--neutral20);
  --inverse-surface-dark: var(--neutral90);
  --inverse-primary-dark: var(--primary40);
  --shadow-dark: var(--neutral0);
  --surface-tint-dark: var(--primary80);
  --outline-variant-dark: var(--neutral-variant30);
  --scrim-dark: var(--neutral0);

  --primary: var(--primary-dark);
  --on-primary: var(--on-primary-dark);
  --primary-container: var(--primary-container-dark);
  --on-primary-container: var(--on-primary-container-dark);
  --secondary: var(--secondary-dark);
  --on-secondary: var(--on-secondary-dark);
  --secondary-container: var(--secondary-container-dark);
  --on-secondary-container: var(--on-secondary-container-dark);
  --tertiary: var(--tertiary-dark);
  --on-tertiary: var(--on-tertiary-dark);
  --tertiary-container: var(--tertiary-container-dark);
  --on-tertiary-container: var(--on-tertiary-container-dark);
  --error: var(--error-dark);
  --error-container: var(--error-container-dark);
  --on-error: var(--on-error-dark);
  --on-error-container: var(--on-error-container-dark);
  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --on-surface: var(--on-surface-dark);
  --surface-variant: var(--surface-variant-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --outline: var(--outline-dark);
  --inverse-on-surface: var(--inverse-on-surface-dark);
  --inverse-surface: var(--inverse-surface-dark);
  --inverse-primary: var(--inverse-primary-dark);
  --shadow: var(--shadow-dark);
  --surface-tint: var(--surface-tint-dark);
  --outline-variant: var(--outline-variant-dark);
  --scrim: var(--scrim-dark);

	--link-color: var(--primary-dark);

	--gradient-stop-1: var(--accent-light);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 81%);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ED7B84,
		var(--accent-regular),
		var(--accent-light)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

	--shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--accent-dark);
	color: var(--gray-100);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 600;
	color: var(--gray-100);
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.wrapper {
	width: 100%;
	max-width: 83rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.stack {
	display: flex;
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
}
