---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/sections/ContactCTA.astro';
import Hero from '../components/sections/Hero.astro';
import CallToAction from '@components/CallToAction.astro';
import { ReadCvLogo } from '@phosphor-icons/react';
---

<BaseLayout title="Tien-Thanh Hua | About" description="About Tien-Thanh">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="A creative full-stack developer who crafts beautiful and accessible websites."
			>
				<img
					width="1553"
					height="873"
					src="/assets/group.jpg"
					alt="Group of 5 people consisting of Tien-Thanh Hua and 4 colleagues"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content stack gap-3">
					<p>
            I am interested in the intersection of creative design and development. As such, I often spend time looking for inspirations of functional and visually pleasing websites.
          </p>
          <p>
            My strength lies in the ability to quickly adapt to new environments and technologies. While my focus is on front-end development and UX/UI design, I am also fit to do back-end development, quality assurance, and business analysis.
          </p>
					<p>
						Whenever not at work, I spend time with my family and friends. I also enjoy playing video games, watching animes, and listening to music (of all genres, so don't ask me my favorite one 😅). Sounds cliché, but it's true.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>FPT University, 2021-2025 (Software Engineering, 70% Scholarship).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><strong>Languages & Frameworks</strong>: HTML, CSS, JavaScript, Bootstrap, jQuery, Java, Java
            MVC, SQL, Agile (Scrum).</p>
          <p><strong>Design Tools</strong>: Figma, SQL Server, Git, Linux (Ubuntu), Jira, Notion,
            Adobe Photoshop, Excel.</p>
          <p><strong>Soft Skills</strong>: Public Speaking, Critical Thinking, Problem Solving.</p>
				</div>
			</section>
      <section>
        <h2 class="section-title">Certificates & Awards</h2>
        <div class="content">
          <ul class="stack gap-3">
            <li>Microsoft Office Specialist World Championship (MOSWC)
              <br/>
              <em>National Consolation Prize & Mekong Delta 2nd Prize</em>
            </li>
            <li><a href="https://drive.google.com/file/d/1vaFMyjHHi6U-eA-owEe246MKujBdXEwN/view?usp=sharing">Microsoft Excel Expert (Office 2016)</a></li>
          </ul>
        </div>
      </section>
		</main>
    <div class="">
      <CallToAction href="/assets/Hua Tien Thanh_CV_en.pdf" className='mx-auto w-80'>
        <ReadCvLogo size="1.75rem" />
        View Resumé
      </CallToAction>
    </div>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
