---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/sections/ContactCTA.astro';
import Hero from '../components/sections/Hero.astro';
---

<BaseLayout title="Tien-Thanh Hua | About" description="About Tien-Thanh">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/group.jpg"
					alt="Group of 5 people consisting of Tien-Thanh Hua and 4 colleagues"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Where to start, where to start...<br><br>
            Right, of course... Hello there, kind stranger!
						I am a creative developer based in Can Tho, Vietnam. I like to make websites
            and applications that are both efficient and good-looking. It is what drives me to
            pursue a Software Engineering career while also self-studying graphics design.
					</p>
					<p>
						I have a keen eye for details, so being meticulous is what I am good at. I also value
            time and efficiency, so the things I make look good without taking too much time.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>FPT University, 2021-2025 (Software Engineering, 70% Scholarship)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><strong>Development Technologies</strong>: Java, C++, C#, TypeScript</p>
          <p><strong>Design Tools</strong>: Adobe Creative Suite (Photoshop, Illustrator, Premiere Pro, After Effects)</p>
          <p><strong>Soft Skills</strong>: Public Speaking, Critical Thinking, Problem Solving</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
