<div class="pill flex px-4 py-2 gap-2 border border-solid border-accent-regular bg-accent-regular text-teal-100"><slot /></div>

<style>
	.pill {
		
		color: var(--accent-text-over);
		
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
	}
</style>
